[Desktop Entry]
Name=CosmicDrop
Comment=Open Apple AirDrop for the COSMIC desktop
GenericName=File Transfer
Exec=cosmicdrop
Icon=dev.cosmicdrop.CosmicDrop
Terminal=false
Type=Application
Categories=COSMIC;Network;FileTransfer;Utility;
Keywords=COSMIC;Applet;AirDrop;File;Transfer;Share;
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-HostWaylandDisplay=true
